@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .width-auto {
    @apply w-[95%] mx-auto;
  }
  .width-auto-mobile {
    @apply w-[96%] mx-auto;
  }

  .base-color {
    @apply bg-orange-600;
  }
  .search-color {
    @apply bg-orange-400;
  }
  .product-grid-view {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3;
  }
  .product-list-view {
    @apply grid grid-cols-1 gap-y-3;
  }
}

@layer utilities {
  .cart-hover:hover + div {
    transform: rotateY(360deg);
    transition: .8s;
  }
  .position-left {
    left: -290px;
    transition: all 200ms linear;
  }
  /* admin leftbar */
  .leftbar-height {
    height: calc(100vh - 3rem)
  }
  

  /* left side bar scrollbar style */
  /* width */
  .left-scrollbar::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
  .left-scrollbar:hover::-webkit-scrollbar {
    display: block;
  }
  .left-scrollbar::-webkit-scrollbar-track {
    background: #475569; 
  }
 
  /* Handle */
  .left-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255 255 255/0.4); 
  }

  /* Handle on hover */
  /* .left-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); 
  } */
}