@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .width-auto {
    @apply w-[95%] mx-auto;
  }
  .width-auto-mobile {
    @apply w-[96%] mx-auto;
  }

  .base-color {
    @apply bg-orange-600;
  }
  .search-color {
    @apply bg-orange-400;
  }
  .product-grid-view {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3;
  }
  .product-list-view {
    @apply grid grid-cols-1 gap-y-3;
  }
  .router-link-style {
    @apply mb-2 text-white cursor-pointer flex items-center h-8 px-3 bg-slate-500 hover:bg-slate-400;
  }
  .dashboard-container {
    @apply bg-white p-5 drop-shadow-sm;
  }
  .dashboard-button {
      @apply p-2 bg-gray-200 text-gray-800 rounded outline outline-1 outline-gray-800 active:outline-none
      text-xs mt-3 ml-5 select-none;
  }
}

@layer utilities {
  .cart-hover:hover + div {
    transform: rotateY(360deg);
    transition: .8s;
  }
  .position-left {
    left: -290px;
    transition: all 200ms linear;
  }
  .active {
    background: #94A3B8;
  }

  /* admin leftbar */
  .leftbar-height {
    height: calc(100vh - 3rem)
  }


  /* left side bar scrollbar style */
  /* width */
  .left-scrollbar::-webkit-scrollbar {
    display: block;
    width: 10px;
  }
  .left-scrollbar::-webkit-scrollbar-track {
    background: #475569;
  }

  /* Handle */
  .left-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
  }
  .left-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(255 255 255/0.4);
  }
  /* Handle on hover */
  /* .left-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  } */
}
